# Preprocessing Custom Problems

In [45]:
import pandas as pd

In [46]:
condition_list = pd.read_csv("/home/james/repositories/miade/data/snomed/full_condition_list.csv")
condition_list

                       cui                                               term
0                   109006       anxiety disorder of childhood or adolescence
1                   122003                               choroidal hemorrhage
2                   122003                              choroidal haemorrhage
3                   122003                               hemorrhage choroidal
4                   122003                              haemorrhage choroidal
...                    ...                                                ...
504865  969688801000119108                acute left-sided ulcerative colitis
504866  969688801000119108                acute left sided ulcerative colitis
504867  971918681000119107  chronic respiratory failure due to obstructive...
504868  971918681000119107  chronic respiratory failure due to obstructive...
504869  978253001000132109                     small bowel enteroscopy normal

[504870 rows x 2 columns]

In [47]:
condition_list["cui"] = condition_list.cui.apply(lambda x: f"SNO-{x}")
condition_list

,cui,term
0,SNO-109006,anxiety disorder of childhood or adolescence
1,SNO-122003,choroidal hemorrhage
2,SNO-122003,choroidal haemorrhage
3,SNO-122003,hemorrhage choroidal
4,SNO-122003,haemorrhage choroidal
...,...,...
504865,SNO-969688801000119108,acute left-sided ulcerative colitis
504866,SNO-969688801000119108,acute left sided ulcerative colitis
504867,SNO-971918681000119107,chronic respiratory failure due to obstructive...
504868,SNO-971918681000119107,chronic respiratory failure due to obstructive...
504869,SNO-978253001000132109,small bowel enteroscopy normal

In [48]:
condition_list=condition_list.rename(columns={'term': 'name'})
condition_list["ontologies"] = "SNO"
condition_list["name_status"] = "P"
condition_list

,cui,name,ontologies,name_status
0,SNO-109006,anxiety disorder of childhood or adolescence,SNO,P
1,SNO-122003,choroidal hemorrhage,SNO,P
2,SNO-122003,choroidal haemorrhage,SNO,P
3,SNO-122003,hemorrhage choroidal,SNO,P
4,SNO-122003,haemorrhage choroidal,SNO,P
...,...,...,...,...
504865,SNO-969688801000119108,acute left-sided ulcerative colitis,SNO,P
504866,SNO-969688801000119108,acute left sided ulcerative colitis,SNO,P
504867,SNO-971918681000119107,chronic respiratory failure due to obstructive...,SNO,P
504868,SNO-971918681000119107,chronic respiratory failure due to obstructive...,SNO,P
504869,SNO-978253001000132109,small bowel enteroscopy normal,SNO,P

In [49]:
prev_row_cui = ''
for index, row in condition_list.iterrows():
    row['name_status'] = ('N' if prev_row_cui == row['cui'] else 'P')
    prev_row_cui = row['cui']
condition_list

,cui,name,ontologies,name_status
0,SNO-109006,anxiety disorder of childhood or adolescence,SNO,P
1,SNO-122003,choroidal hemorrhage,SNO,P
2,SNO-122003,choroidal haemorrhage,SNO,N
3,SNO-122003,hemorrhage choroidal,SNO,N
4,SNO-122003,haemorrhage choroidal,SNO,N
...,...,...,...,...
504865,SNO-969688801000119108,acute left-sided ulcerative colitis,SNO,P
504866,SNO-969688801000119108,acute left sided ulcerative colitis,SNO,N
504867,SNO-971918681000119107,chronic respiratory failure due to obstructive...,SNO,P
504868,SNO-971918681000119107,chronic respiratory failure due to obstructive...,SNO,N
504869,SNO-978253001000132109,small bowel enteroscopy normal,SNO,P

In [50]:
condition_list.to_csv('preprocessed_condition_list.csv', index=False)